<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoppingSpree</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/scripts/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div id="register-header">
        </div>
    </header>

    <main>
        <div class="register-login">
            <img src="/images/logo.png" class="logo" id="register-logo">
            <section>
                <h2 style="text-align:left; margin-top:-5%">Create Account</h2>
                <section class="register-box" style="text-align:center">
                    <div id="iam-buttons">
                        <span id="iam-text">I am a...</span> <br>
                        <button name="type" class="<%= !formData || formData.userType !== 'owner' ? 'active' : 'inactive' %>" class="acc-type-btn" id="customer-btn" onclick="toggleCustomer()"><b>Customer</b></button>
                        <button name="type" class="<%= !formData || formData.userType !== 'customer' ? 'active' : 'inactive' %>" class="acc-type-btn" id="owner-btn" onclick=toggleOwner()><b>Store Owner</b></button>
                    </div>
                    <br>
                </section>
                <form action="/auth/register" method="POST">
                    <input type="hidden" id="userType" name="userType" value="<%= formData ? formData.userType : '' %>">
                    <label class="register-header">Email</label>
                    <input type="text" name="registerEmail" id="register-email" placeholder="someone@example.com" value="<%= formData ? formData.registerEmail : '' %>">
                    <br>
                    <label class="register-header">Password</label>
                    <input type="password" name="registerPass" id="register-password" placeholder="passWord123?" value="<%= formData ? formData.registerPass : '' %>">
                    <br><br>
                    <label class="register-header">Confirm Password</label>
                    <input type="password" name="registerConfirmPass" id="register-confirm-password" placeholder="passWord123?" value="<%= formData ? formData.registerConfirmPass : '' %>">
                    <br><br>
                    <label class="register-header">What should we call you?</label>
                    <input type="text" name="registerName" id="register-name" placeholder="Your Name" value="<%= formData ? formData.registerName : '' %>">
                    <br>
                    <br>
                    <% if (error) { %>
                        <p style="color: red;"><%= error %></p>
                    <% } %>
                    <button id="register-button">Sign Me Up!</button>
                    <br>
                </form>
                <section>
                    <span>Already have an account?</span>
                    <span> </span>
                    <a href="/auth/login" style="color:white;""><u>Log in</u></a>
                </section>
            </section>
        </div>
    </main>
</body>

</html>